.page_featured {
	background-image:url('../../img/products/screen-header.jpg')
}
.page_featured .page_description_over {
	opacity:0;
}
.oi_page_holder {
	padding-top:35px;
	background-color: #f6f6f6;
}
.pf-item .oi_heading_icon {
	font-size:24px;
	line-height:24px;
	color:#000000
}
.pf-item .oi_heading_border span {
	text-align:center;
	width:100px;
	border-top:1px solid #000000;
}

.oi_ff_img_holder img{
	box-shadow: 0 3px  3px 0 rgba(128, 128, 128, 0.541);
}

.pf-item-1 {
	padding-bottom: 60px;
	background-color: #f6f6f6;
}


.pf-item-author {
	padding: 4px 7px;
	color: #fff;
	background: #82876f;
}
.pf-item-prev {
	background-image:url('../../img/products/package-card.png');
}
.pf-item-next {
	background-image:url('../../img/products/printer-card.png');
}